*.iml
.gradle
/local.properties

/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches

.DS_Store
/build
/captures
.externalNativeBuild
*.svg
*.ai
*.eps
