*.iml
.gradle
/local.properties
/app/release

/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches

.DS_Store
/build
/captures
.externalNativeBuild
/assets
*.svg
*.ai
*.eps
