*.iml
.gradle
.project
/.settings

/local.properties
/app/release
/app/.classpath
/app/.project
/app/.settings

/.idea/.name
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches

.DS_Store
/build
/captures
.externalNativeBuild
/assets
*.svg
*.ai
*.eps
